body {
    background-color: #1e1e1e;
    color: #dcdcdc;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #ffcc00;
}

.card {
    background-color: #2a2a2a;
    border: 1px solid #444;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(255, 215, 0, 0.4);
    }

.btn-outline-light {
    border-color: #ffcc00;
    color: #ffcc00;
}

    .btn-outline-light:hover {
        background-color: #ffcc00;
        color: #121212;
        border-color: #ffcc00;
    }

h2 {
    padding: 0.5rem;
    background-color: #2a2a2a;
    border: 1px solid #444;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-bottom: 0;
}

    h2:hover {
        background-color: #444;
    }

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #333;
    border-radius: 0 0 5px 5px;
}

    .accordion-content.show {
        display: block;
    }

.btn-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffcc00;
    border: none;
    color: #1e1e1e;
    padding: 12px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 9999;
}

    .btn-float img {
        max-width: 40px;
        max-height: 40px;
        cursor: pointer;
    }

    .btn-float:hover {
        background-color: #d4af37;
    }

/* CSS para el contador del carrito */
.carrito-badge {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff0000;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 12px;
    z-index: 10000;
}


.carrito-flotante {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    z-index: 9999;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: auto;
}

.carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ddd;
}

.cerrar-carrito {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

    .table th, .table td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .table td {
        white-space: normal;
    }

.text-end {
    text-align: end;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }